@using Microsoft.AspNetCore.Identity
@model IEnumerable<FinalWebProject.Models.Article>

@{
    ViewData["Title"] = "Articles";
}
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<div class="main_bg">
    <!-- start main -->
    <div class="container">
        <h1 class="text-center">@ViewData["Title"] </h1>
@if (SignInManager.IsSignedIn(User))
{
        <p>
            <a asp-action="Create">Create New</a>
        </p>
}
        <div class="main">
            @foreach (var item in Model)
            {
                <div class="images_1_of_4 text-center">
                    <h4><a>@Html.DisplayFor(modelItem => item.Title)</a></h4>
                    <p class="para">@Html.DisplayFor(modelItem => item.Description)</p>
                    <a asp-action="Details" asp-route-id="@item.ArticleID" class="fa-btn btn-1 btn-1e">read more</a>
                    <br />
                </div>
                <hr />
            }
        </div>
    </div>
</div><!-- end main -->