@using Microsoft.AspNetCore.Identity
@using FinalWebProject.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">@UserManager.GetUserName(User)</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
            </li>
        </ul>
    </form>
}
else
{
    <ul style="float: right;" class="nav navbar-nav">
        <li style="background:#007bb5;"><a asp-controller="Account" asp-action="Login"><img src="/images/login.png" height="20" /> Login</a></li>
        <li style="background:#2fa0a1;"><a asp-controller="Account" asp-action="Register"><img src="/images/register.png" height="20" alt="Register" /></a></li>
    </ul>
}
